header {
    text-transform: uppercase;
    color: red;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: red;
}
  
body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
  }
  

h2 {
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

main p {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    padding-bottom: 20px;
    color: #373737;
}

footer {
    padding-top: 50px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: red;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
}

footer p {
    text-align: right;
    padding-right: 50px;
    width: 700;
}